@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-Italic.ttf);
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-Bold.ttf);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-display: swap;
  font-style: italic;
}

@layer components {
  .input-container-style {
    @apply flex flex-col flex-1;
  }
  .label-style {
    @apply text-smokey-grey uppercase font-bold text-label-font;
  }
  .input-style {
    @apply border-light-grey border w-full max-w-40 py-3 px-4 rounded-md text-input-font placeholder:text-smokey-grey font-bold focus:outline-primary;
  }
  .date-style {
    @apply text-large font-extrabold italic leading-[1.1] text-wrap;
  }
  .date-span-style {
    @apply text-primary pe-2;
  }
  .error {
    @apply text-light-red font-normal italic text-small;
  }
}
